@import "../default/default.scss";

#guest-upload {
  // display: grid;
  // place-items: center;

  // width: 100vw;
  // margin: 0 5% 5rem 5%;
  margin: 0 1rem 0.8rem 1rem;
  @media only screen and (min-width: $computer-size) {
    & {
      margin-top: 15rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
    }
    input[type="submit"]  {
      margin-top: 8rem;
      margin-bottom: 8rem;
      width: 60%;
    }
}
}