@import 'variables';
@import 'mixins';
body {
  background-color: $light-color;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  line-height: 1.4;
  text-decoration: none;
  border: none;
}
*:hover {
  outline: none;
}
h2{
  font-family: $title-font;
  font-size: 2rem;
}


