

$light-color: #fafafa;
$dark-light-color: #9e9e9e;
$dark-color: #333;
$light-dark-color: #888;

$third-color:#ff9995; 
$dark-third-color: #ff8e8a;
$light-third-color: #ffeeee; // $third-color:#fcccc9;

//fonts
$title-font: 'Roboto' sans-serif;
$header-font: 'Roboto Slab', serif;
$caption-font: 'Playfair Display', serif;
// $caption-font: Ari

// Query media
$computer-size: 600px; 