@import './default/default.scss';


.guest-info-input {
  box-shadow: 0 10px 10px 0 rgba(black, 0.4);
  background-color: white;
  padding: 5%;
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @import './Input.scss';
  p {
    margin-top: 1rem;
  }
  @media only screen and (min-width: $computer-size) {
    & {
      max-width: 600px;
    }
}  
}
