@import "./default/default.scss";
@import "./Input.scss";
/* prettier-ignore */
.LoginInput {
  background-color: $light-color;
  box-shadow: 0 10px 10px 0 rgba(black, 0.4);
  padding: 0 5%;
  width: 80vw;
  padding-top: 1em;

  .log-in-as-guest-btn {
    margin: 2em 0;
    color: $dark-color;
    width: 100%;
  
    &:hover {
      background-color: $dark-color;
      color: $light-color;
    }
    &:active {
      color: $dark-color;
      background-color:transparent;
    }
    
    p {
      font-size: 1rem;
      font-weight: bold;
      display: inline;
      margin-left: 1em;
    }
    .log-in-icon {
      position: absolute;
      left: 3rem;
      top: -0.1rem;
    }
  }
  
}
